{
  "openapi": "3.1.0",
  "info": {
    "title": "Fueling Optimizer API",
    "description": "Example API for deterministic single-session fueling recommendations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fuelingoptimizer.app"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "required": [
          "userId",
          "accessToken"
        ],
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "accessToken": {
            "type": "string"
          }
        }
      },
      "SessionFuelingRequest": {
        "type": "object",
        "required": [
          "sport",
          "durationMinutes",
          "intensity",
          "weightKg"
        ],
        "properties": {
          "sport": {
            "type": "string",
            "enum": [
              "running",
              "cycling",
              "triathlon",
              "other"
            ]
          },
          "durationMinutes": {
            "type": "integer",
            "minimum": 1
          },
          "intensity": {
            "type": "string",
            "enum": [
              "easy",
              "moderate",
              "hard",
              "race_simulation"
            ]
          },
          "weightKg": {
            "type": "number",
            "minimum": 20
          },
          "constraints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FuelingTarget": {
        "type": "object",
        "required": [
          "carbsGrams",
          "fluidsMl",
          "sodiumMg"
        ],
        "properties": {
          "carbsGrams": {
            "type": "number"
          },
          "fluidsMl": {
            "type": "number"
          },
          "sodiumMg": {
            "type": "number"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SessionFuelingResponse": {
        "type": "object",
        "required": [
          "before",
          "during",
          "after"
        ],
        "properties": {
          "before": {
            "$ref": "#/components/schemas/FuelingTarget"
          },
          "during": {
            "$ref": "#/components/schemas/FuelingTarget"
          },
          "after": {
            "$ref": "#/components/schemas/FuelingTarget"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Authenticate an existing user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/calculations/session-fueling": {
      "post": {
        "summary": "Calculate deterministic fueling guidance for one session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionFuelingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fueling calculation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionFuelingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid calculation input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
